{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
          <th>URL</th>
          <th>Status Code</th>
          <th>Status</th>
          <th>Time to Respond</th>
      </tr>
    </thead>
    <tbody>
      {% for items in result %}
        <tr>
            <td>{{ items.URL }}</td>
            <td>{{ items.StatusCode}}  {{ items.Status }}</td>
            {% if items.StatusCode == 200 %}
            <td style="color: green">{{ items.Status }}</td>
            {% else %}
            <td style="color: red">{{ items.Status }}</td>
            {% endif %}
            <td>{{ items.ETA }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}